{% extends 'base.html.twig' %}

{% block body %}
<a href="{{ path('article_new') }}">Create article</a>
<table border="1">
    {% for article in articles %}
        <tr>
        <td>{{ article.id }}</td>
        <td>{{ article.name }}</td>
        <td>{{ article.description}}</td>
        <td>{{ article.createdAt|date('y\m\d') }}</td>
        <td><a href="{{ path('article_edit', {'id': article.id}) }}">update</a></td>
        <td><a href="{{ path('article_delete', {'id': article.id}) }}">delete</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

